body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section[aria-label="Notifications alt+T"] {
    display: none;
}

div[title="Connection Error: timeout"] {
    display: none;
}